<app-players-list #playersList></app-players-list>

<div class="main_buttons">
  <button mat-raised-button color="primary" (click)="saveData()">Save List</button>
  <button mat-raised-button color="primary" (click)="importData()">Import</button>
  <button mat-raised-button color="primary" (click)="exportData()">Export</button>
  <button mat-raised-button color="primary" (click)="generateRosters()" [disabled]="isGenerating">
    {{ !isGenerating ? 'Generate' : 'Calculating...' }}
  </button>
</div>

<div *ngIf="raids?.length === 2" class="main_raids">
  <app-raid-visualisation [raid]="raids[0]"></app-raid-visualisation>
  <app-raid-visualisation [raid]="raids[1]"></app-raid-visualisation>
</div>
