
.players-list_headers {
  display: grid;
  grid-template-columns: 150px 120px 60px 130px 130px 130px 60px 120px 130px 65px 65px;
  width: fit-content;
  border-left: 1px solid lightgrey;

  > div {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-left: none;
  }
}
